---
# Main scss file
---
@charset "utf-8";

// Helpers
@import
    'helpers/mixins',
    'helpers/variables';

// Base
@import
    'base/reset';

// Utilities
@import
    'utilities/layout',
    'utilities/separator';

// Components
@import
    'components/article',
    'components/notes-app';

// Vendor
@import
    'vendor/highlight';
