<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <script>
    window['_h_debug'] = false;
    window['_h_script'] = 'https://static.highlight.run';
    window['_h_org'] = 19;
    var a=['script'];(function(b,e){var f=function(g){while(--g){b['push'](b['shift']());}};f(++e);}(a,0x72));var b=function(c,d){c=c-0x0;var e=a[c];return e;};var script=document['createElement'](b('0x0'));script['setAttribute']('src',window['_h_script']+'/index.js?'+new Date()['getMilliseconds']()),script['setAttribute']('type','text/javascript'),document['getElementsByTagName']('head')[0x0]['appendChild'](script),script['addEventListener']('load',()=>{window['highlight_obj']=new Highlight(window['_h_debug']),highlight_obj['initialize'](window['_h_org']);}),window['H']={},window['H']['Identify']=c=>{var d=setInterval(function(){window['highlight_obj']&&window['highlight_obj']['ready']&&(clearInterval(d),window['highlight_obj']['identify'](c));},0xc8);};
    </script>
    
    {% seo %}
</head>
