---
layout: page
---
<article class="c-article">
    <header class="c-article__header">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    <ul class="c-tags">
    {% for tag in page.tags %}
      <li class="c-tag">{{ tag }}</li>
    {% endfor %}
    </ul>

    <div class="c-article__main">
        {{ content }}
    </div>

    <div class="pagenav">
		{% if page.previous.url %}
        <div class="wrapper" id="left">
          <small><b>Previous</b> {{page.previous.date | date: "%b %-d, %Y"}}</small>
          <br>
          <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        </div>
		{% endif %}
		{% if page.next.url %}
        <div class="wrapper" id="right">
          <small>{{page.next.date | date: "%b %-d, %Y"}} <b>Next</b></small>
          <br>
          <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        </div>
		{% endif %}
		</div>

    {% if page.comments %}
				<div id="disqus_thread"></div>
				<script>

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				var disqus_config = function () {
					this.page.url = {{ page.url }};
					this.page.identifier = {{ page.id }};
				};

				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://sickaf.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
</article>
